In [2]:
import numpy as np

from pyspark.sql import SparkSession
from pyspark.sql.types import *

from pyspark import SparkConf
conf = SparkConf()
conf.set('spark.executor.memory', '2g')
spark = SparkSession.builder.appName('kmeans').getOrCreate()
# Load Data
data = spark.read.csv("dataset/US_Accidents_Dec20_Updated.csv", header=True, sep=",")

In [3]:
df = data[["ID","Start_Lat","Start_Lng","Temperature(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)",]]
df.show()
df.count()

+----+------------------+-------------------+--------------+-----------+------------+--------------+
|  ID|         Start_Lat|          Start_Lng|Temperature(F)|Humidity(%)|Pressure(in)|Visibility(mi)|
+----+------------------+-------------------+--------------+-----------+------------+--------------+
| A-1|         34.808868| -82.26915699999999|          76.0|       52.0|       28.91|          10.0|
| A-2|          35.09008|          -80.74556|          76.0|       62.0|        29.3|          10.0|
| A-3|          37.14573|        -121.985052|          51.0|       80.0|       30.17|          10.0|
| A-4|          39.11039|        -119.773781|          53.6|       16.0|       30.16|          10.0|
| A-5|26.102942000000002|         -80.265091|          84.2|       84.0|       29.92|          10.0|
| A-6|35.348240000000004| -80.84722099999999|          73.4|       33.0|       30.17|          10.0|
| A-7|          39.52397|           -107.777|          28.0|       88.0|       24.67|           2.0|
| A-8|         34.034017|        -118.026972|          55.0|       40.0|       29.86|          10.0|
| A-9|35.863490000000006|          -86.83168|          87.1|       43.0|       30.04|          10.0|
|A-10|          34.42633|          -118.5851|          57.0|       77.0|       29.08|           5.0|
|A-11|         28.021709|         -82.203583|          57.0|       88.0|       30.05|          10.0|
|A-12|40.912209999999995|         -73.875099|          32.0|       61.0|        30.0|          10.0|
|A-13|32.866929999999996|          -96.66617|          64.4|       32.0|       30.37|          10.0|
|A-14|         32.265141|-110.90358700000002|          97.7|       16.0|        29.8|          10.0|
|A-15|          41.05982|          -74.25092|          72.0|       71.0|        30.0|          10.0|
|A-16|29.723339000000003|         -95.497337|          77.0|       71.0|        29.6|          10.0|
|A-17|         34.103172|        -118.249969|          78.1|       60.0|       29.99|          10.0|
|A-18|34.186595000000004|        -117.439427|          75.0|       26.0|       28.98|           9.0|
|A-19|         42.501929|         -82.918056|          47.0|       66.0|       29.38|           7.0|
|A-20|         41.556862|         -73.779556|          45.0|       63.0|       29.59|          10.0|
+----+------------------+-------------------+--------------+-----------+------------+--------------+
only showing top 20 rows

2906610

In [4]:
df = df.withColumn("Start_Lat",df['Start_Lat'].cast(DoubleType()))\
    .withColumn("Start_Lng",df['Start_Lng'].cast(DoubleType()))\
    .withColumn("Temperature(F)",df['Temperature(F)'].cast(DoubleType()))\
    .withColumn("Humidity(%)",df['Humidity(%)'].cast(DoubleType()))\
    .withColumn("Pressure(in)",df['Pressure(in)'].cast(DoubleType()))\
    .withColumn("Visibility(mi)",df['Visibility(mi)'].cast(DoubleType()))
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Start_Lng: double (nullable = true)
 |-- Temperature(F): double (nullable = true)
 |-- Humidity(%): double (nullable = true)
 |-- Pressure(in): double (nullable = true)
 |-- Visibility(mi): double (nullable = true)

In [5]:
df = df.dropna()
df.count()

2816332

In [6]:
import numpy as np
df.show()

+----+------------------+-------------------+--------------+-----------+------------+--------------+
|  ID|         Start_Lat|          Start_Lng|Temperature(F)|Humidity(%)|Pressure(in)|Visibility(mi)|
+----+------------------+-------------------+--------------+-----------+------------+--------------+
| A-1|         34.808868| -82.26915699999999|          76.0|       52.0|       28.91|          10.0|
| A-2|          35.09008|          -80.74556|          76.0|       62.0|        29.3|          10.0|
| A-3|          37.14573|        -121.985052|          51.0|       80.0|       30.17|          10.0|
| A-4|          39.11039|        -119.773781|          53.6|       16.0|       30.16|          10.0|
| A-5|26.102942000000002|         -80.265091|          84.2|       84.0|       29.92|          10.0|
| A-6|35.348240000000004| -80.84722099999999|          73.4|       33.0|       30.17|          10.0|
| A-7|          39.52397|           -107.777|          28.0|       88.0|       24.67|           2.0|
| A-8|         34.034017|        -118.026972|          55.0|       40.0|       29.86|          10.0|
| A-9|35.863490000000006|          -86.83168|          87.1|       43.0|       30.04|          10.0|
|A-10|          34.42633|          -118.5851|          57.0|       77.0|       29.08|           5.0|
|A-11|         28.021709|         -82.203583|          57.0|       88.0|       30.05|          10.0|
|A-12|40.912209999999995|         -73.875099|          32.0|       61.0|        30.0|          10.0|
|A-13|32.866929999999996|          -96.66617|          64.4|       32.0|       30.37|          10.0|
|A-14|         32.265141|-110.90358700000002|          97.7|       16.0|        29.8|          10.0|
|A-15|          41.05982|          -74.25092|          72.0|       71.0|        30.0|          10.0|
|A-16|29.723339000000003|         -95.497337|          77.0|       71.0|        29.6|          10.0|
|A-17|         34.103172|        -118.249969|          78.1|       60.0|       29.99|          10.0|
|A-18|34.186595000000004|        -117.439427|          75.0|       26.0|       28.98|           9.0|
|A-19|         42.501929|         -82.918056|          47.0|       66.0|       29.38|           7.0|
|A-20|         41.556862|         -73.779556|          45.0|       63.0|       29.59|          10.0|
+----+------------------+-------------------+--------------+-----------+------------+--------------+
only showing top 20 rows